body {
    height: 100%;
    margin: 0;
    font-family: Helvetica;
    background-color: peachpuff;

}

#sitewrapper {
    display: flex;
    flex-direction: column;
    align-items: space-between;
    justify-content: space-around;
}

h1 {
    text-align: center;
    font-family: 'Montserrat';
    text-transform: uppercase;
}

.messagebar {
    text-align: center;
    background-color: gray;
    color: white;
    margin-bottom: 30px;
}

.catheading {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.squares-container {
    margin: 0px 10% 0px 10%;
    display: grid;
    grid-template-columns: repeat(5, 2fr);
    grid-template-rows: 100px;
    grid-auto-rows: minmax(75px, auto);
    grid-gap: 20px;
}

.answerbox {
    border: gray 1px solid;
    font-size: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div.space {
    background-color: peachpuff;
    height: 50px;
}

/* get a sticky footer */
.scorebar {
    background-color: gray;
    color: white;
    padding: 20px 100px 20px 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}