body{
    font-family: Helvetica;
}

.answerbox {
    border: gray 1px solid;
    height: 100px;
    width: 100px;
}

/* .category-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    text-align: center;
} */
